$primary: #242a38 !default;
$dark-grey: #4e596f !default;
$secondary: #f66763 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "primary": $primary,
    "dark-grey": $dark-grey,
    "secondary": $secondary,
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary: $primary !default;
$secondary: $secondary !default;
$dark-grey: $dark-grey !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark-grey": $dark-grey,
) !default;

$font-family-sans-serif: "avenir", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

@import "~bootstrap/scss/bootstrap";
