// Default variables
@import "./variables";

// Mixins
@import "./mixins/breakpoints";

// Components
@import "./components/server-item";
@import "./components/footer";

body {
    font-family: "avenir", sans-serif;
    width: 100%;
    height: 100%;
    font-smoothing: antialiased;
    font-size: 16px;
    margin-top: 50px;
}
